@model Menhera.Models.Auth.Login
@inject Menhera.Intefaces.IBoardCollection BoardCollection

@{
    Layout = "_Layout";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/site.css">
    <title>Login</title>
</head>
<body>
<header>
    <div class="to-main">
        <a asp-action="Main" asp-controller="MainPage">
            На сосач!
        </a>
    </div>
    <div class="board">
        /bash/<span class="postfix">org</span>
    </div>
</header>
@{
    @Html.ValidationSummary(true)
    <div class="anime">
        <div class="login">
            <div class="login-screen">
                <div class="login-title">
                    <h1>Вход</h1>
                </div>
                <div class="login-form">
                    @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
                    {
                        <div class="control-group">
                            <input asp-for="Email" type="email" class="login-field" placeholder="Email" id="login-email">
                            <input asp-for="Password" type="password" class="login-field" placeholder="Password" id="login-pass">
                        </div>
                        <input type="submit" class="btn-login" value="Войти"/>
                    }
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center">
        @{
            foreach (var errors in ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).ToList())
            {
                foreach (var err in errors.Value.Errors)
                {
                    <p>@err.ErrorMessage</p>
                }
            }
        }
    </div>
}
</body>
</html>