@model BoardAdmin

@{
    Layout = "_AdminLayout";
}

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a asp-action="Panel">Главная</a>
            </li>
            <li class="active">
                <a href="#">Добавить</a>
            </li>
        </ol>
    </div>
</div>
<div class="container">
    <br>
    <br>
    <div class="well">
        <ul class="nav nav-pills nav-justified">
            <li class="active">
                <a href="#add-board" data-toggle="tab">Добавить доску</a>
            </li>
            <li>
                <a href="#add-admin" data-toggle="tab">Добавить администратора</a>
            </li>
        </ul>

        <div class="tab-content">
            <br>
            <div id="add-board" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label asp-for="Board.Prefix">Префикс</label>
                            <input asp-for="Board.Prefix" type="search" maxlength="15" class="form-control" id="board-prefix" placeholder="Префикс">
                        </div>
                        <div class="form-group">
                            <label asp-for="Board.Postfix">Постфикс</label>
                            <input asp-for="Board.Postfix" type="text" maxlength="15" class="form-control" id="board-postfix" placeholder="Постфикс">
                        </div>
                        <div class="form-group">
                            <label asp-for="Board.Title">Заголовок</label>
                            <input asp-for="Board.Title" type="text" maxlength="30" class="form-control" id="board-title" placeholder="Заголовок">
                        </div>
                        <div class="form-group">
                            <label asp-for="Board.Description">Описание</label>
                            <textarea asp-for="Board.Description" class="form-control" id="board-description"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <label asp-for="Board.IsHidden">Скрывать доску?</label>
                        <select asp-for="Board.IsHidden" class="form-control" id="board-isHidden">
                            <option value="True">Да</option>
                            <option value="False">Нет</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label asp-for="Board.AnonHasNoName">Есть ли стандартное имя у анона?</label>
                        <select asp-for="Board.AnonHasNoName" class="form-control" id="board-anonHasNoName">
                            <option value="True">Да</option>
                            <option value="False">Нет</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label asp-for="Board.HasSubject">Возможность вставлять тему?</label>
                        <select asp-for="Board.HasSubject" class="form-control" id="board-hasSubject">
                            <option value="True">Да</option>
                            <option value="False">Нет</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label asp-for="Board.FilesAreAllowed">Разрешить файлы</label>
                        <select asp-for="Board.FilesAreAllowed" class="form-control" id="board-filesAreAllowed">
                            <option value="True">Да</option>
                            <option value="False">Нет</option>
                        </select>
                    </div>

                    <div class="col-xs-12">
                        <br>
                        <div class="form-group">
                            <label asp-for="Board.FileLimit">Лимит файлов в посте</label>
                            <input asp-for="Board.FileLimit" type="text" class="form-control" id="board-fileLimit" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <label asp-for="Board.AnonName">Anon Name</label>
                            <input type="text" maxlength="20" class="form-control" id="board-anonName" placeholder="Оставьте пустым, если не разрешаете стандартное имя.">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <br>
                        <div class="pull-right">
                            <input type="submit" class="btn btn-primary" id="board-submit" value="Подтвердить"/>
                        </div>
                    </div>
                </div>
            </div>

            <div id="add-admin" class="tab-pane fade">
                <div class="row">
                    <div class="col-xs-12">
                        <br>
                        <div class="form-group">
                            <label asp-for="Admin.Email">Email</label>
                            <input asp-for="Admin.Email" type="email" class="form-control" id="admin-email" required>
                        </div>
                        <div class="form-group">
                            <label asp-for="Admin.Login">Логин</label>
                            <input asp-for="Admin.Login" type="text" class="form-control" id="admin-login" required>
                        </div>
                        <div class="form-group">
                            <label asp-for="Admin.PasswordHash">Хэш пароля (SHA-256)</label>
                            <input asp-for="Admin.PasswordHash" type="text" class="form-control" id="admin-password" required>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <label asp-for="Admin.CanBanUsers">Может банить</label>
                        <select asp-for="Admin.CanBanUsers" class="form-control" id="admin-canBanUsers">
                            <option value="True">Да</option>
                            <option value="False">Нет</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label asp-for="Admin.CanCloseThreads">Может закрывать/удалять треды</label>
                        <select asp-for="Admin.CanCloseThreads" class="form-control" id="admin-canCloseThreads">
                            <option value="True">Да</option>
                            <option value="False">Нет</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label asp-for="Admin.CanDeletePosts">Может удалять посты</label>
                        <select asp-for="Admin.CanDeletePosts" class="form-control" id="admin-canDeletePosts">
                            <option value="True">Да</option>
                            <option value="False">Нет</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label asp-for="Admin.HasAccessToPanel">Имеет доступ к панели</label>
                        <select asp-for="Admin.HasAccessToPanel" class="form-control" id="admin-hasAccessToPanel">
                            <option value="True">Да</option>
                            <option value="False">Нет</option>
                        </select>
                    </div>
                    <br>
                    <div class="pull-right">
                        <input type="submit" class="btn btn-primary" id="admin-submit" value="Подтвердить"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
@if (ViewBag.CurrentAdmin.HasAccessToPanel)
{
    <script src="/js/admin/addAdmin.js"></script>
    <script src="/js/board/addBoard.js"></script>
}
</body>
</html>