@{
    Layout = "_AdminLayout";
}

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a asp-action="Panel">Главная</a>
            </li>
            <div class="clearfix"></div>
        </ol>
    </div>
</div>

<div class="container">
    <br>
    <div class="col-xs-12">
        <div class="well">
            <div class="pull-left">
                <p>
                    Администраторы
                </p>
            </div>
            <div class="pull-right">
                <a asp-action="Admins" class="btn btn-default">
                    Посмотреть
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-xs-12">
        <div class="well">
            <div class="pull-left">
                <p>
                    Доски
                </p>
            </div>
            <div class="pull-right">
                <a asp-action="Boards" class="btn btn-default">
                    Посмотреть
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-xs-12">
        <div class="well">
            <div class="pull-left">
                <p>
                    Треды
                </p>
            </div>
            <div class="pull-right">
                <a asp-action="Threads" class="btn btn-default">
                    Посмотреть
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-xs-12">
        <div class="well">
            <div class="pull-left">
                <p>
                    Репорты
                </p>
            </div>
            <div class="pull-right">
                <a asp-action="Reports" class="btn btn-default">
                    Посмотреть
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</body>
</html>