@inject Menhera.Intefaces.IBoardCollection BoardCollection

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
<header>
    <div class="to-main">
        <a asp-action="Main" asp-controller="MainPage">
            На сосач!
        </a>
    </div>
    <div class="board">
        /bash/<span class="postfix">org</span>
    </div>
</header>
<aside>
    <nav>
        <ul>
            @foreach (var board in BoardCollection.Boards)
            {
                if (!board.IsHidden)
                {
                    <li>
                        <a asp-controller="Board" asp-action="Board" asp-route-prefix="@board.Prefix">
                            /@board.Prefix/@board.Postfix
                        </a>
                    </li>
                }
            }
        </ul>
    </nav>
</aside>
@RenderBody()
</body>
</html>