@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="css/site.css">
    <title>Menherachan</title>
</head>

<h2>Заявка оставлена</h2>

<a asp-controller="MainPage" asp-action="Main">
    Вернуться на главную страницу
</a>
