@model Menhera.Models.Auth.Login

@{
    Layout = "_AccountLayout";
}

<!doctype html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
    <div class="request">
        <div class="request-screen">
            <div class="request-title">
                <h1>Вход</h1>
            </div>
            <div class="request-form">
                <div class="control-group">
                    <input asp-for="Email" type="email" class="request-field" placeholder="Email" id="request-email">
                    <input asp-for="Password" type="password" class="request-field" placeholder="Password" id="request-pass">
                </div>
                <a asp-controller="MainPage" asp-action="Main" class="btn">Войти</a>
                <a asp-action="LeaveRequest" class="request-link">Вернуться к реквесту</a>
            </div>
        </div>
    </div>
</body>
</html>