@model Menhera.Models.Auth.Request

@{
    Layout = "_AccountLayout";
}


<!-- TODO: Выведение ошибок при неправильных/уже существующих данных-->
<!doctype html>
<html lang="en">
<head>
    <title>Request</title>
</head>
<body>
    <div class="request">
        <div class="request-screen">
            <div class="request-title">
                <h1>Реквесты</h1>
            </div>
            <form asp-action="LeaveRequest" method="post">
                <div class="request-form">
                    <div class="control-group">
                        <div class="form-group">
                            <input asp-for="Login" type="text" class="request-field" value="" placeholder="Login" id="request-login">
                        </div>
                        <div class="form-group">
                            <input asp-for="Email" type="email" class="request-field" value="" placeholder="Email" id="request-email">
                        </div>
                        <div class="form-group">
                            <input asp-for="Password" type="password" class="request-field" value="" placeholder="Password" id="request-pass">
                        </div>
                        <div class="form-group">
                            <input asp-for="ConfirmPassword" type="password" class="request-field" value="" placeholder="Confirm Password"
                                   id="request-confirmpass">
                        </div>
                        <div class="form-group">
                            <textarea asp-for="Comment" name="comment" placeholder="Убеди нас взять тебя в модераторы!" class="field comment"></textarea>
                        </div>
                    </div>
                    <input type="submit" class="btn" placeholder="Отправить запрос">
                    <a asp-action="Login" class="request-link">Уже модератор?</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>