@model object

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="css/site.css">
    <title>Menherachan</title>
</head>
<body>
<div class="threads">
    <div style="font-size: 1.538em">
        1.Ресурс предназначен для лиц старше 18-ти лет, посещая его, вы подтверждаете свое совершеннолетие.
        <br>
        2.Запрещены любые публикации нарушающие законодательство и способные привести к блокировке ресурса — все остальное разрешено, за исключением вайпа.
        <br>
        3.Придерживайтесь тематики борды и ее правил, если они указаны.
        <br>
        4.Трипкоды и аватарки разрешены только в
        <a asp-controller="Board" asp-action=""> <!-- TODO: Make an action to /rf section -->
            /rf/
        </a>.
        <br>
        5.Обсуждение работы модерации сайта запрещено на всех досках, кроме
        <a href="/s"> <!-- TODO: Make an action to /s section -->
            /s/
        </a>.
        Нарушение данного правила может повлечь за собой бан.
    </div>
    <div>
        <!-- TODO: Сделать перечисление разделов, тредов + сколько в каждом постов, файлов -->
    </div>
</div>
</body>
</html>