@inject Menhera.Intefaces.IBoardCollection BoardCollection
@model Dictionary<Board, Menhera.Classes.BoardInformation>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="css/site.css">
    <title>Menherachan</title>
</head>
<body>
<header>
    <div class="to-main">
        <a asp-action="Main" asp-controller="MainPage">
            На сосач!
        </a>
        </div>
    <div class="board">
        /bash/<span class="postfix">org</span>
    </div>
    <div class="title">
        Menherachan
        <div class="description">
            Добро пожаловать!
        </div>
    </div>
</header>
<div class="threads">
    <div style="font-size: 1.538em">
        1.Ресурс предназначен для лиц старше 18-ти лет, посещая его, вы подтверждаете свое совершеннолетие.
        <br>
        2.Запрещены любые публикации нарушающие законодательство и способные привести к блокировке ресурса — все остальное разрешено, за исключением вайпа.
        <br>
        3.Придерживайтесь тематики борды и ее правил, если они указаны.
        <br>
        4.Трипкоды и аватарки разрешены только в
        <a asp-controller="Board" asp-action="Board" asp-route-prefix="rf">
            /rf/
        </a>.
        <br>
        5.Обсуждение работы модерации сайта запрещено на всех досках, кроме
        <a asp-controller="Board" asp-action="Board" asp-route-prefix="s">
            /s/
        </a>.
        Нарушение данного правила может повлечь за собой бан.
    </div>
    <br>
    <br>
    <br>
    <div>
        @{
            foreach (var (board, boardInfo) in Model)
            {
                if (!board.IsHidden)
                {
                    <p>Раздел
                        <a asp-controller="Board" asp-action="Board" asp-route-prefix="@board.Prefix">
                            /@board.Prefix/
                        </a>;
                        тредов @boardInfo.ThreadCount ;
                        постов @boardInfo.PostCount ;
                        файлов @boardInfo.FileCount ;
                    </p>
                    <hr>
                }
            }
        }
    </div>
</div>
</body>
</html>