@inject Menhera.Intefaces.IBoardCollection BoardCollection

@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Ошибка</title>
    <link rel="stylesheet" type="text/css" href="/css/error.css" />
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
<aside>
    <nav>
        <ul>
            @foreach (var board in BoardCollection.Boards)
            {
                if (!board.IsHidden)
                {
                    <li>
                        <a asp-controller="Board" asp-action="Board" asp-route-prefix="@board.Prefix">
                            /@board.Prefix/@board.Postfix
                        </a>
                    </li>
                }
            }
        </ul>
    </nav>
</aside>
<div class="anime">
            <div class="error">
                <div class="error-container">
                    @switch (ViewBag.StatusCode)
                    {
                        case 500:
                            <h1>500</h1>
                            <h2>Внутренняя ошибка сервера</h2>
                            break;
                            
                        case 404:
                            <h1>404</h1>
                            <h2>Такой странички не существует</h2>
                            break;
                            
                        default:
                            <h1>Произошла ошибка</h1>
                           break;
                    }
                    <a asp-controller="MainPage" asp-action="Main">Вернуться на главную</a>
                </div>
            </div>
        </div>
</body>
</html>
