@model Board
@{
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="css/site.css">
    <title>@Model.Title</title>
</head>
<body>
<header>
    <div class="title">
        @Model.Title
        <div class="description">
            @Model.Description
        </div>
    </div>
</header>
</body>
