@model Thread

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Тред №@Model.ThreadId</title>
</head>
<body>
<div>
    @foreach (var post in ViewBag.Posts)
    {
        <div class="comment">
            @post.Comment
        </div>
    }
</div>
</body>
</html>